/**
 * Layera SkeletonText - Styles
 */

.la-skeleton-text {
  display: flex;
  flex-direction: column;
}

/* Spacing variants */
.la-skeleton-text--spacing-sm {
  gap: var(--la-space-xs);
}

.la-skeleton-text--spacing-md {
  gap: var(--la-space-sm);
}

.la-skeleton-text--spacing-lg {
  gap: var(--la-space-md);
}