rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isVerified() { return request.auth.token.email_verified == true; }
    function role(r) { return request.auth.token.role == r; }
    function hasMfa() { return request.auth.token.mfa == true; }

    match /uploads/{allPaths=**} {
      allow read: if false;
      allow write: if isVerified() && hasMfa() && (role('admin') || role('broker') || role('builder'));
    }
  }
}